.header{
   background-color: rgba(80,130,186,255);
   color: white;
   height: 15vh;
}

.footer{
   bottom: 10%;
   background-color: rgba(80,130,186,255);
   color: white;
   padding-top: 20px;
   padding-bottom: 20px;
   height: 10vh;
   position: absolute;
   bottom: 0%;
   width: 100%;
}

.container{
   margin-left: 15%;
   margin-right: 15%;

}
.left{
   width: 50%;
   display: inline;
   position: absolute;
}

.center{
   text-align: center;
   width: 100%;
}

.right{
   margin-left: 50%;
   width: 50%;
   maring-top: 10%;
   display: inline;
   position: absolute;
}